script(src="#{page.static}js/vendor/jquery/jquery.min.js", type="text/javascript")
script(data-main="#{page.static}js/main", src="#{page.static}js/vendor/requirejs/require.js")
//-
	script(src="#{page.static}js/libs/jquery/jquery.min.js")
	script(src="#{page.static}js/libs/superscrollorama/js/jquery.superscrollorama.js")
	script(src="#{page.static}js/libs/bxslider-4/dist/jquery.bxslider.min.js")
	script(src="#{page.static}js/libs/skrollr/dist/skrollr.min.js")
	script(src="#{page.static}js/libs/plax/js/plax.js")
	script(src="#{page.static}js/modules/all.js")
	script(src="#{page.static}js/modules/home.js")
	script(src="#{page.static}js/modules/steps.js")
	script(src="#{page.static}js/modules/detail.js")